KINDE_CLIENT_ID=your-kinde-client-id
KINDE_CLIENT_SECRET=your-kinde-client-secret
KINDE_ISSUER_URL=your-kinde-issuer-url
KINDE_SITE_URL=your-kinde-site-url
KINDE_POST_LOGOUT_REDIRECT_URL=your-kinde-post-logout-redirect-url
KINDE_POST_LOGIN_REDIRECT_URL=your-kinde-post-login-redirect-url
KINDE_MANAGEMENT_API=your-kinde-management-api
KINDE_M2M_ACCESS_TOKEN=your-kinde-m2m-access-token


DATABASE_URL="your-database-url"

CLIENT_DATABASE_URL="your-client-database-url"

CLIENT_DATABASE_SSL_CA="your-client-database-ssl-ca"


ENDPOINT="your-endpoint"
ACCESS_KEY_ID="your-access-key-id"
SECRET_ACCESS_KEY="your-secret-access-key"
BUCKET="your-bucket"


NEXT_PUBLIC_SERVER_SOCKET_URL="your-server-socket-url"