# Environment (development, production, staging)
ENVIRONMENT=development
CORS_ORIGINS=*

# Bucket
R2_ACCOUNT_ID=your-r2-account-id
R2_ACCESS_KEY=your-r2-access-key
R2_API=https://your-r2-api-endpoint
BUCKET_NAME=your-bucket-name

# Open Ai
OPENAI_API_KEY=your-openai-api-key

# Gemini
GEMINI_API_KEY=your-gemini-api-key

# Vector store
VECTOR_STORE_URL=your-vector-store-url
VECTOR_STORE_API_KEY=your-vector-store-api-key

# Database
DATABASE_URL=your-database-url